<p><strong>
    Select the restaurants you searched for from these results. 
</strong></p>

<form name='pickrestaurantsform' action='/pandora/pickrestaurants/' method='post'>
    {% csrf_token %}
    <p>
    Search #1: 
    </p>    
    {{  form.pick_results1  }}

    <p>
    Search #2: 
    </p>    
    {{  form.pick_results2  }}

    <p>
    Search #3: 
    </p>    
    {{  form.pick_results3  }}

    <p>
    Search #4: 
   </p>    
    {{  form.pick_results4  }}

    <p>
    Search #5: 
    </p>    
    {{  form.pick_results5  }}

    <input type="submit" value="Submit" />

</form>