<p><strong>
    Fill out these questions about your current preferences.
</strong></p>

<form name='responsesform' action='/pandora/{{  user_id  }}/responses/' method='post'>
    {% csrf_token %}

    <p> Do you have any dietary restrictions?</p>
    {{  form.diet  }}

    <p>What is the maximum distance, in miles, you would travel? (Default = 100 miles)</p>
    {{  form.distance  }}

    <p>What is your current address?</p>
    {{ form.address  }}

    <p>Are you in a hurry?</p>
    {{  form.hurry  }}

    <p>What day and time do you plan to arrive at the restaurant?</p>
    {{  form.arrival_day  }}
    {{  form.arrival_time}}


    <input type="submit" value="Submit" />
</form>

